body {
    background-color: #eee;
  }
  
  .wrapper {
    height: 100vh;
    text-align: center;
  }
  .wrapper button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 0s 1.4s ease;
  }



  .loader .loader__tile {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #007AE5;
    transition: width 0.7s ease;
  }

  .loader--active {
    width: 100%;
    transition-delay: 0s;
  }

  .loader--active .loader__tile {
    width: 100%;
  }